[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "amerika"]
	path = amerika
	url = https://github.com/pdwaggoner/amerika
[submodule "hdImpute"]
	path = hdImpute
	url = https://github.com/pdwaggoner/hdimpute
[submodule "mlbstats"]
	path = mlbstats
	url = https://github.com/pdwaggoner/mlbstats
[submodule "plotGMM"]
	path = plotGMM
	url = https://github.com/cran/plotGMM
[submodule "plotmm"]
	path = plotmm
	url = https://github.com/pdwaggoner/plotmm
[submodule "purging"]
	path = purging
	url = https://github.com/pdwaggoner/purging
